DAGSHUB_TOKEN=your_token_here
DAGSHUB_USERNAME=muhammed-keita-ml
DAGSHUB_REPO=project-06-fraud-detection-pipeline
MLFLOW_MODEL_NAME=fraud-xgboost-class-weighted
MLFLOW_MODEL_STAGE=Production
ECR_REGISTRY=597819998212.dkr.ecr.eu-west-1.amazonaws.com
ECR_REPOSITORY=fraud-detection-api
AWS_REGION=eu-west-1